/* Import */
@import "~bootstrap/dist/css/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";


/* Custom css */
:root {
  --primary: #00a2ffc2; 
  --primary-hov: #00a2ff; 
}

.btn {
    transition: background-color 0.3s ease !important;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-hov);
    border-color: var(--primary);
}

.app-style-link {
    transition: text-decoration-color 0.3s ease;
}

.app-style-link:hover {
    text-decoration-color: rgb(13, 109, 253, 0.75) !important;
}


label.required:after {
    content: "*";
    font-weight: bold;
    margin-left: 2px; 
}

.marked {
    padding: 10px; 
    border-radius: 6px; 
}

/* Add/delete record */
button.addRecord {
    color: gray; 
    font-size: 24px; 
    background:none;
    position: relative;
    left: -2px;
}

button.deleteRecord {
    color: gray; 
    font-size: 18px; 
    background:none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Select language */
.flag-icon {
  width: 20px;
  height: 20px;
}