 <table class="table">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-5">Event</th>
            <th class="col-md-5">Stage</th>
        </tr>
    </thead>
    <tbody id="tableEvents">
    {% for row in form.events %}
    <tr>
        <td>
            <button class="deleteRecord border border-0" type="button" onclick="deleteRecord(this)">
                <i class="bi bi-trash"></i>
            </button>
        </td>
        <td>{{ form_row(row.event) }}</td>
        <td>{{ form_row(row.stage) }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td class="border border-0">
            <button class="addRecord border border-0 mt-1" type="button" onclick="addRecord('tableEvents')">
                <i class="bi bi-plus"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>