<div class="row p-3" {{ stimulus_controller('fade') }}>
    <hr>
    {# Site #}
    <div class="col-md-auto mb-2">
        <a href="https://beupsoft.pl/" class="app-style-link link-dark link-offset-2 link-underline link-underline-opacity-10" target="_blank">
            <i class="bi bi-globe"></i> www.beupsoft.pl
        </a>
    </div>
    {# Email #}
    <div class="col-md-auto mb-2">
        <a href="mailto:biuro@beupsoft.pl" class="app-style-link link-dark link-offset-2 link-underline link-underline-opacity-10" target="_blank">
            <i class="bi bi-envelope-at"></i> biuro@beupsoft.pl
        </a>
    </div>
    {# Phone #}
    <div class="col-md-auto mb-2">
        <a href="tel:+48585850000" class="app-style-link link-dark link-offset-2 link-underline link-underline-opacity-10" target="_blank">
            <i class="bi bi-telephone"></i> +48 58 585 0000
        </a>
    </div>
    
    {# Consultation #}
    <div class="col-md-auto mb-2">
        <a href="https://beupsoft.bitrix24.pl/~BjThM" class="app-style-link link-dark link-offset-2 link-underline link-underline-opacity-10" target="_blank">
            <i class="bi bi-arrow-right-circle"></i> Zapisz się na konsultację
        </a>
    </div>
</div>